<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PrepTex/src/BeePgm.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="BeePgm"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="PrepTex"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-country CHI -client BCI -system SGC -entity DIR -command PGM_DTC=TRUE,PGM_PTC=TRUE,GEN_MFC=TRUE,CPP_ALL=TRUE,CMA_USR=TRUE,NO_HDR_CST=TRUE,NO_TIENE_TIMESTAMP=TRUE,PGM_DOS=TRUE"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PrepTex"/>
</launchConfiguration>
