<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- ========================================================================================== ==
      ==
      == ========================================================================================== -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p - %C{1}.%M(%-5L) | %m%n"/> <!-- %d{yyyy-MM-dd HH:mm:ss}  -->
        </layout>
    </appender>

    <appender name="FILELOG" class="org.apache.log4j.FileAppender">
        <param name="File"   value="bee@cob2j.log"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p - %C{1}.%M(%-5L) | %m%n"/> <!-- %d{yyyy-MM-dd HH:mm:ss}  -->
        </layout>
    </appender>

    <!-- ========================================================================================== ==
      ==
      == ========================================================================================== -->

    <!--
    <logger name="Test">
        <level value="ALL"/>
    </logger>
    -->

    <!-- ========================================================================================== ==
      ==
      == ========================================================================================== -->

    <!-- ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF|NULL -->

    <root>
        <level        value="ALL"/>
        <appender-ref  ref="CONSOLE"/>
        <appender-ref  ref="FILELOG"/>
    </root>

</log4j:configuration>